.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    padding: 10px;
  }

.home-container h1 { 
    margin: 0; 
    padding: 0; 
    color: black;
}

  
.button-container {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    margin-top: 25px;
  }
  
.custom-btn {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}