
html, body {
  background-color: #3C486B;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, Tahoma, sans-serif;
  background-color: #3C486B;
}

h1{
  color:#3C486B
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* Ensure the elements stack vertically */
  height:10vh; /* Adjust height as needed */
  text-align: center;
 
}

/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"'); */
