/* Global styles here */

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3C486B;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap"'); */
