body {
  margin: 20px;
  font-family: Verdana, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html {
  background-color: #3C486B;
  display: inline;
}

code {
  font-family: Verdana, Tahoma, sans-serif;
}
