.ExploreButton { 
    background-color: #B5C18E;
    color: black;
    width: 30%;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    display: inline-block;
    font-weight:bold;
}

.ExploreButton:hover { 
    cursor: pointer;
}