body, html {
    height: 100%; 
    margin: 0;
}

.titleFav {
    color: black;
    margin-bottom: 20px;
    background-color: #F9D949;
    padding: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.custom-list-item {
    padding: 20px;
    margin: 5px;
    font-weight: bold;
    border-radius: 10px;
    border: solid black 2px;
}





