.btn-container {
    background-color: #F9D949;
    padding: 5px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

.btn-main {
    display: flex;        
    justify-content: center; 
    align-items: center;  
    border-radius: 10px;
    cursor: pointer;
    margin: 0px;
    background-color: white; 
    padding: 5px 10px; 
    border: 2px solid black; 
}

  .btn-main:disabled {
    cursor: not-allowed;
  }

  .icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    border-radius: 50%;
    padding: 2px;
  }