.ride-table-container {
    width: 100%; 
    margin: 0 auto; 
}
  
.ride-rows th, .ride-rows td {
    padding: 10px;
    font-weight: bold;
}

.ridesList {
  color: black;
  margin-bottom: 20px;
  background-color: #F9D949;
  padding: 20px;
  border-radius: 10px;
}