h1 {
    color: white;
    text-align:center;
}
.row {
  display: flex;
}

p {
    display:inline-block;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    color: black;
    font-weight:bold;
  }
.access-container {
    display: flexbox;
    flex-direction:column;
    align-items: left;
    border-radius: 5%;
    padding: 30px;
    margin: 30px;
    height: 50 px;
    background-color:#3C486B;
  }

.access-container h1 { 
    margin: 20 px; 
    padding: 30 px;   
    align-items: left;
    color: white;
   
}


.parkInfo {
  background-color: #F0F0F0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: large;
  height: 100%;
}

ul {
  font-weight: bold;
}

.parkAccessPic {
  width: 100%;
  height: 100%;
  display: flexbox;
  outline: #f9da10 solid 2px;
  border-radius: 5px;
}
.parkAccessPic2 {
  width: 100%;
  height: 100%;
  display: flexbox;
  outline: #f9da10 solid 2px;
  border-radius: 5px;
}
.parkAccessPic3 {
  width: 100%;
  height: 100%;
  display: flexbox;
  outline: #f9da10 solid 2px;
  border-radius: 5px;
}
